.Home {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;

    .top-div {
        height: 30%;
        width: 100%;
    }

    .middle-div {
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .bottom-div {
        height: 70%;
        width: 100%;
    }
}